<p id="notice"><%= notice %></p>

<p>
  <b>Firstname:</b>
  <%= @student.firstname %>
</p>

<p>
  <b>Surname:</b>
  <%= @student.surname %>
</p>

<p>
  <b>Date of birth:</b>
  <%= @student.date_of_birth %>
</p>


<%= link_to 'Edit', edit_student_path(@student) %> |
<%= link_to 'Back', students_path %>
