<p id="notice"><%= notice %></p>

<p>
  <b>Teacher firstname:</b>
  <%= @teacher.teacher_firstname %>
</p>

<p>
  <b>Teacher surname:</b>
  <%= @teacher.teacher_surname %>
</p>


<%= link_to 'Edit', edit_teacher_path(@teacher) %> |
<%= link_to 'Back', teachers_path %>
